@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-y-hidden;
}
.min-h-sceen {
  min-height: 100vh;
}

.nav-sticky {
  position: sticky;
  top:0;
  display: flex;
  justify-content: center;
}

.avatar svg{
  width: 40px;
  aspect-ratio: 1;
  padding: 1px;
}

@layer components {
  .new-pulse {
    @apply shadow-xl;
    animation: pulse 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
       @apply shadow-primary;
    }
    50% {
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }

  .perspective {
	perspective: 500px;
  }
  .rotate-x {
	rotate : x 30deg;
  }
  .rotate-x-initial {
	rotate: x -0deg;
  }
  .navbar-w {
	width: calc(100% - 16px);
  }
}